$light-accent: #fcfc54;
$gameboard: #54fc54;
$dark-accent: #fc5454;
$black: #000;
$font: 'VT323', monospace;

body {
  background-color: $black;
  font-family: $font;
  font-size: 49px;
  height: 100vh;
}

//////////////////Splash page styles/////////////////
.main-inputs {
  margin: auto;
  text-align: center;
}

.main-label__player-one,
.main-label__player-two {
  font-size: 49px;
  line-height: 50px;
}

.main-div__player-one-field, 
.main-div__player-two-field {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.main-div__player-two-field {
  margin-bottom: 10px;
}

.main-input__hide {
  color: $black;
  background-color:$light-accent;
  border: 3px dotted $dark-accent;
  font-family: $font;
  font-size: 28px;
  height: 36px;
  margin-left: 10px;
  width: 250px;
}

.splash-image__size {
  width: 80%;
  margin: -50px 10% 0px 10%;
  // margin-right: 10%;
  // margin-top: -50px;
}

/////////////////////Main game page styles/////////////////
main {
  background-color: $black;
  color: $light-accent;
  height: 100%;
  width: 1280px;
  margin: auto;
}

.main-container__scoreboard {
  display: grid;
  grid-template-columns: 149px 149px 255px 180px 255px 140px 148px;
  grid-template-rows: 69px 193px 21px 150px 155px 155px 50px;
  grid-template-areas:
  ". . . timer . . ."
  "score1 . gameboard gameboard gameboard . score2"
  ". . . . . . ."
  ". question question question question question ."
  "leftbuttons input input input input input buttons"  
  " leftbuttons players players players players players buttons"
  ". players players players players players buttons"
}

.main-image__scoreboard {
  background-color: $black;
  background-image: url('../images/family-feud_board.png');
  height: 800px;
}

.main-div__timer {
  grid-area: timer;
  text-align: center;
}

.main-h4__timer {
  font-size: 49px;
  padding-top: 10px;
  margin: 4px 9px 0px 0px;
}

.main-table__responses {
  grid-area: gameboard;
}

.main-div__player-one-score,
.main-h2__player-one-score {
  grid-area: score1;
  font-size: 90px;
}

.main-h2__player-one-score {
  margin: 55px 40px 0px 110px;
}

.main-div__player-two-score,
.main-h2__player-two-score {
  font-size: 90px;
  grid-area: score2;
}

.main-h2__player-two-score {
  margin: 55px 0px 0px -40px;
}

.main-div__questions {
  grid-area: question;
}

/////////////////////Main game buttons and input/////////////////
.main-section__game-buttons {
  grid-area: buttons;
}

.main-section__left-buttons {
  grid-area: leftbuttons;
}

.main-section__guess-input {
  grid-area: input;
}

.main-span__current-player {
  color: $gameboard;
}

.welcomeCenter {
  border: 8px dotted $light-accent;
  font-size: 49px;
  margin: 0 225px;
  text-align: center;
}

/////////////////////Main game player characters/////////////////
.main-section__player-images {
  display: flex;
  grid-area: players;
  // margin-top: 100px;
  justify-content: space-around;
}

.player.one, 
.player.two {
  display: block;
  text-align: center;
  width: 150px;
}

.player.turned {
  display: none;
}

.player.face {
  display: block;
}

/////////////////////Gameboard survey responses/////////////////
.main-table__responses {
  border: none;
  border-collapse: collapse;
}

.tr {
  border: 2px solid $dark-accent;
  height: 64px;
}

.main-tr__middle-response {
  margin: 0;
}

.main-button__submit-name {
  background-color: $light-accent;
  border: 3px dotted $dark-accent; 
  color: $black;
  font-family: $font;
  font-size: 28px;
  height: 50px;
  width: 200px;
}

.main-input__guess-input,
.main-input__multiplier-input,
.main-input__fast-guess-input {
  color: $black;
  background-color:$light-accent;
  border: 3px dotted $dark-accent;
  font-family: $font;
  font-size: 36px;
  height: 60px;
  width: 690px;
  margin: 40px 0px 0px 150px;
}

.main-button__start-game,
.main-button__reset-game,
.main-button__submit-guess,
.main-button__start-fast-turn, 
.main-button__submit-fast-guess,
.main-button__submit-multiplier,
.fastMoney-button,
.winner-button {
  color: $black;
  background-color:$light-accent;
  border: 3px dotted $dark-accent;
  font-family: $font;
  font-size: 28px;
  height: 60px;
  width:200px;
  margin: 40px 25px 25px 25px;
}

.main-button__submit-guess {
  margin-left: -70px;
}

.main-section__player-images {
  position: relative;
}

.main-span__player-one-name,
.main-span__player-two-name {
  color: $black;
  font-size: 24px;
  margin-top: 120px;
  position: absolute;
  z-index: 100;
}

.main-h3__player-one-name {
  color: $black;
  font-size: 36px;
  margin-top: 10px;
  margin-left: 90px;
  width: 175px;
}

.main-h3__player-two-name {
  margin-top: 10px;
  margin-left: -90px;
  color: $black;
  font-size: 36px;
  width: 175px;
}

::-webkit-input-placeholder{
  color: $dark-accent;
  opacity: 0.5;
}

.dark-accentx {
  grid-area: gameboard;
  margin: 25px auto 0px auto;

  img {
    height: 150px;
    position: relative;
    z-index: 5;
  }
}

.fastMoney {
  text-align: center;
}

.winner {
  text-align: center;
  margin-top: 30%;
}
